{% extends 'home/index.html.twig' %}

{% block title %} Utilisateur {% endblock %}

{% block body %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-12"  style="display: flex; justify-content: center;align-items:center;width: 100%" >
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <div class="container">
                                <h2 style="color: antiquewhite" > Reset Password Sent</h2>


                                <div class="fw-divider-space " style="padding-top: 100px;"></div>

                                <p>
                                <h6>  If an account matching your email exists, <br>
                                    then an email was just sent that contains a link that you can use to reset your password.
                                    This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                </h6>  </p>
                                <h4>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}"> TRY AGAIN</a></h4>






                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
