{% extends 'front/base.html.twig' %}

{% block title %}Edit Maladie{% endblock %}

{% block body %}
    <h1>Edit Maladie</h1>

    {{ include('maladie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_maladie_index') }}">back to list</a>

    {{ include('maladie/_delete_form.html.twig') }}
{% endblock %}
