{% extends 'front/base.html.twig' %}

{% block title %}New Maladie{% endblock %}

{% block body %}
    <h1>Create new Maladie</h1>

    {{ include('maladie/_form.html.twig') }}

    <a href="{{ path('app_maladie_index') }}">back to list</a>
{% endblock %}
